# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [3]:
#pip install pandas
import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [5]:
# a = 
a=pd.Series([100,200,300,400])

Print a, and data type

In [8]:

a
a.dtype

dtype('int64')

Using indexing access the element 300 from the series a.

In [9]:

a[2]

300

What are the values of index for series a?

In [12]:
a.index

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [13]:
a.index=['c', 'a', 'b', 'd']
a

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [14]:

a['d']

400

Sort the values wrt to the index and print it

In [15]:
a.sort_index()

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [16]:
# b = 
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [21]:
# a =
pd.concat([a, b])

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

In [22]:
#print a again after appending b into it
pd.concat([a, b])

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [23]:
# a = 
a.sort_values(ascending=False)

d    400
b    300
a    200
c    100
dtype: int64

## Pandas DataFrame

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [24]:
df = pd.DataFrame(a)
df

     0
c  100
a  200
b  300
d  400

What is the shape of the datafarme <br>
(also, what does it imply?)

In [25]:
print(df.shape)

(4, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [26]:
# yep its same as the series.
index_equal = (df.index == a.index).all()
print("Are the indexes of df and a the same?", index_equal)

Are the indexes of df and a the same? True

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [27]:
df.head()
df.tail()

     0
c  100
a  200
b  300
d  400

Rename the column of the dataframe as 'points'

In [28]:

df.rename(columns={'0': 'points'}, inplace=True)
df

     0
c  100
a  200
b  300
d  400

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [29]:
#Create fruits array

fruit_list = ['orange', 'mango', 'apple']
fruits = pd.Series(np.random.choice(fruit_list, size=7))
fruits

0     mango
1    orange
2    orange
3    orange
4    orange
5     mango
6     apple
dtype: object

In [36]:
#Create series fruits out of fruits array

fruits = ['mango', 'apple', 'orange', 'apple', 'mango', 'orange', 'apple']
fruits_series = pd.Series(fruits)
print(fruits_series)

0     mango
1     apple
2    orange
3     apple
4     mango
5    orange
6     apple
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:
fruits_series.index = df.index
print(fruits_series)

NameError: name 'fruits_series' is not defined

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:
df['fruits'] = fruits_series
print(df.head())

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [10]:
data = {'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
        'Temperature': [15, 22, 20, 26, -2]}

d1 = pd.DataFrame(data)

Print(d1)

In [ ]:
d1

What is the shape of d1.

In [ ]:

print(d1.shape)

Set city = d1['city']

In [ ]:
city = d1['city']

print city <br>
What is the type of city.

In [ ]:
city
type(city)

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [11]:
data2 = {'city': ['Bengaluru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
         'Temperature': [24, 35, 36, 39]}

d2 = pd.DataFrame(data2)
d2

print the shape of this dataframe

In [ ]:
d2.shape

merge the two dataframes together, save it in a new dataframe named 'd3'

In [12]:
d3 = pd.concat([d1, d2], ignore_index=True)

print(d3)

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:
filtered_cities = d3[d3['Temperature'] <= 20]['city']

print(filtered_cities)
print("Number of cities:", len(filtered_cities))

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:

filtered_cities = d3[d3['Temperature'] >= 35]['city']

print(filtered_cities)
print("Number of cities:", len(filtered_cities))

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [15]:
# write function here

# def is_ut(x):
    
#     # write code below
    
# d3['is_ut'] = 
def is_ut(x):
    union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']
    return x in union_territories
d3['is_ut'] = d3['city'].apply(is_ut)

In [16]:
# print d3
d3

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here
def c_to_f(celsius):
    return (celsius * 9/5) + 32
print(c_to_f(10))

In [17]:
# check function c_to_f(10)

print(c_to_f(10))

In [18]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3['temp_fahrenheit'] = d3['Temperature'].apply(c_to_f)

print(d3)

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:
union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']
union_territory_subset = d1[d1['city'].isin(union_territories)]

print(union_territory_subset)

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:
high_temp_subset = d1[d1['Temperature'].apply(c_to_f) > 90]

print(high_temp_subset)

Select only the first three rows of the dataframe d1.

In [ ]:
first_three_rows = d1.iloc[:3]

print(first_three_rows)

Select all the rows and last two columns in the dataframe.

In [ ]:
last_two_columns = d1.iloc[:, -2:]

print(last_two_columns)

## Groupby

In [24]:
# Create a dataframe using dictionary of your choice

# data = 
data = {
    'Fruit': ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango'],
    'Color': ['Red', 'Yellow', 'Orange', 'Purple', 'Yellow'],
    'Taste': ['Sweet', 'Sweet', 'Sweet', 'Sweet', 'Sweet'],
    'Price_per_kg': [2.5, 1.0, 1.5, 3.0, 2.0]
}

fruits_df = pd.DataFrame(data)

print(fruits_df)

In [21]:
# Use Groupby of single column with aggregate sum()

sum_by_color = fruits_df.groupby('Color').sum()

print(sum_by_color)

In [22]:
# Use Groupby of single column with aggregate count()
count_by_color = fruits_df.groupby('Color').count()

print(count_by_color)

In [23]:
# Use Groupby of single column with aggregate min() and max()
min_max_by_color = fruits_df.groupby('Color').agg({'Price_per_kg': ['min', 'max']})

print(min_max_by_color)

In [25]:
# Use Groupby of any 2 columns with aggregate mean()

mean_by_color_taste = fruits_df.groupby(['Color', 'Taste']).mean()

print(mean_by_color_taste)

In [26]:
# Use Groupby of any 2 columns with aggregate min() and max()

min_max_by_color_taste = fruits_df.groupby(['Color', 'Taste']).agg({'Price_per_kg': ['min', 'max']})

print(min_max_by_color_taste)

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [19]:
# a = start_date = '2020-01-01'
end_date = '2021-04-01'

a = pd.date_range(start=start_date, end=end_date)

print a

In [ ]:
print(a)

What is the len of a?

In [ ]:
len(a)

What is the type of a?

In [ ]:

type(a)